@import "tailwindcss";

:root {
  --background: oklch(82.3% 0.12 346.018);
  --foreground: oklch(29.3% 0.066 243.157);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-lato: var(--font-lato);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(29.3% 0.066 243.157);
    --foreground: oklch(82.3% 0.12 346.018);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Lato;
}
